#my-floating-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 200px; /* Adjust size as needed */
    height: 300px;
    padding: 10px;
    background-color: #E9967A; /* Or any color you prefer */
    border: 1px solid #CCC;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 10000; /* Ensure it floats above other content */
    margin: 10px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 3px;
    border: 2px solid #2F4F4F;
    /* Add more styling as needed */
}